@page
@model BoxMaker_Server.Pages.BannedListModel
@{
	ViewData["Title"] = "封神榜";
}
<div class="text-center">
    <h1 class="display-6">封神榜</h1>
    <p>该页面用于展示那些确凿了作弊行为并且违反了相关规定的玩家。</p>
    <p>申诉Q群：<a href="https://qm.qq.com/q/XIxLghG16c">312336775</a> </p>

</div>
<h2 class="display-8">外挂天王榜</h2>
<p>UID:79 作弊行为：使用外挂通过地图并产生了异常录像，制作无解图 封禁ID：#202405060001 封禁时长：永久</p>
