@page
@model IndexModel
@{
    ViewData["Title"] = "首页";
}
<head>


    <title>BM服务器首页</title>


</head>

<body>
    <div class="text-center">
        <h1 class="display-4">BM-Server</h1>
        <p>该服务端由Palon(aaaaa)进行维护，如果你看到了该界面，<br/>说明你<br/>已经成功运行了Boxmaker服务端进程<br/>或已经成功链接了该Boxmaker服务器。</p>
        <p>请一定要加入游戏QQ群聊：<a href="https://qm.qq.com/q/XIxLghG16c">312336775</a> 来获取游戏最新消息！</p>
        
    </div>
</body>
