@page
@model PrivacyModel
@{
    ViewData["Title"] = "隐私政策";
}
<h1>@ViewData["Title"]</h1>

<p>感谢您使用我们的游戏服务器。我们十分重视您的隐私，并采取一切合理的措施来保护您的个人信息。请在使用我们的服务之前仔细阅读本隐私政策。</p>

<h2>1. 收集的信息</h2>
<p>我们可能会收集有关您的信息，包括但不限于您的游戏ID、IP地址和游戏活动数据。我们收集这些信息的目的是为了提供和改善游戏服务，并确保服务器的安全性。</p>

<h2>2. 信息使用</h2>
<p>我们收集的信息仅用于提供、维护和改善游戏服务。我们不会出售、出租或以任何其他方式向第三方披露您的个人信息，除非经您同意或根据法律规定。</p>

<h2>3. 信息安全</h2>
<p>我们采取合理的安全措施来保护您的个人信息，防止未经授权的访问、使用或披露。然而，请注意，由于互联网的本质，我们无法保证信息传输的绝对安全性。</p>

<h2>4. Cookie</h2>
<p>我们的服务器可能会使用Cookie技术来提高用户体验，并提供个性化的服务。您可以根据自己的偏好设置拒绝Cookie，但这可能会影响您使用游戏服务的部分功能。</p>

<h2>5. 未成年人隐私保护</h2>
<p>我们的游戏服务不针对未满法定年龄的未成年人。如果您是未成年人，请在法定监护人的监护下使用我们的服务。</p>

<h2>6. 隐私政策的变更</h2>
<p>我们可能会不时更新本隐私政策。在我们对隐私政策进行重大变更时，我们将通过适当方式向您提供通知，以便您了解我们如何处理您的个人信息。</p>

<h2>7. 联系我们</h2>
<p>如果您对本隐私政策或您的个人信息有任何疑问或意见，请通过<a href="https://qm.qq.com/q/XIxLghG16c">游戏官方群聊:312336775</a>与我们联系。</p>

<p>最后更新日期：2024/05/04</p>

